body {
    font-family: 'Roboto Mono', sans-serif;
}

section {
    background-color: white;
    /* border: solid black 1px; */
}

footer {
    height: 500px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 97%; /* Full width */
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 25px;
}

ul.show {
    display: block;
}

a {
    color: black;
    text-decoration: none;
}

.social {
    /* width: 200px; */
    text-decoration: none;
    color: #003B5C;
    padding-bottom: 200px;
    margin: 20px;
    margin-left: 10px;
}

h1 {
    font-size: 90px;
    margin-bottom: 0px;
}

h2 {
    font-size: 50px;
}

p {
    margin-top: 0px;
    font-size: 30px;
    font-weight: 300;
}

/* ul {
    margin-
} */

.home {
    background-color: white;
    height: 100vh;  
    color: black;
    font-size: 40px;
}

.home-area {
    display: flex;
    height: 65%;
    justify-content: space-between;
    align-items: center;
}

.home-text {
    margin-left: 50px;
    margin-bottom: 50px;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: #8BB8E8;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #005587;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080
}

.headshot {
    width: 300px;
    border-radius: 250px;
    /* margin-bottom: px; */
    margin-right: 100px;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width: 1000px) {

    .home-area {
        display: flex;
        flex-wrap: wrap;
    }

    .home-text {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 200px;
        text-align: center;
    }

    p {
        margin-top: 50px;
    }

    .button {
        margin: 0 auto;
        margin-top: 50px;

        width: 300px;
        height: 80px;
        border-radius: 70px;
        font-size: 45px;
    }

    .headshot-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-bottom: 300px;
    }
    .headshot {
        width: 600px;
        border-radius: 300px;
        display:block;
        margin:auto;
    }

    .hamburger {
        display: block;
        border:0;
        background-color: transparent;
        color: #003B5C;
        font-size: 30px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: white;
        margin-bottom: 40px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: white;
    }

    .logo {
        display: none;
    }
}

/* .home-socials {
    margin-bottom: 200px;
} */

.logo {
    height: 80px;
    margin: 30px;
    margin-right: 10px;
    font-size: 40px;
    color: #2774AE;
    text-decoration: none;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.resume {
    display: flex;
    align-items: center;
    justify-content: center;
}